.schedule {
  padding: 70px 0;
  background-color: $secondary;
  text-align: center;

  &__title {
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 20px;
  }

  &__content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;

    &--table {
      width: 100%;
      text-align: left;
      gap: 0;
      border-spacing: 0;

      &-heading {
        background-color: $primary;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: 20px;
      }
      th, td {
        padding: 20px;
        border-bottom: 1px solid #ccc;
      }
      td {
        background-color: #fff;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .schedule__content {
    overflow: scroll;
  }
}
